<toolbar title="SiriusXM"></toolbar>
<div class="main-container">
  <div class="summary">
    <img src="assets/images/sxm.svg" />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">SiriusXM</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Lead Frontend Engineer</p>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">open_in_new</mat-icon>
          <a target="_blank" href="https://player.siriusxm.com/welcome">
            Web Player
          </a>
        </div>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Core Technologies:</p>
        <p>Angular, Typescript, AngularJs</p>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Tools/Libraries/etc:</p>
        <p>RxJs, Jest</p>
      </div>
      <div class="summary__details__description fwt-600">
        SiriusXM is a satellite radio and online media streaming service based
        in the United States, offering a wide range of music, sports, news,
        talk, and entertainment channels. It operates on a subscription model
        and provides commercial-free music channels, exclusive talk shows, and
        special events coverage. The service is accessible via satellite radios
        in vehicles, mobile devices, and home entertainment systems, ensuring a
        wide availability for users on the go or at home. Additionally, SiriusXM
        is known for its exclusive channels and partnerships with high-profile
        artists and personalities, offering unique content not found on
        traditional radio platforms.
      </div>
      <div class="summary__details__achievements">
        <h4>Achievements & Highlights</h4>
        <ul>
          <li>
            Wrote features, planned work, and mentored developers on SiriusXM
          </li>
          <li>Rewrote SiriusXM's website from Angularjs to Angular</li>
          <li>
            Led the effort to reduce the web player's regressions by bringing
            code coverage up by over 60%
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
