<toolbar title="Projects"></toolbar>
<div class="projects">
  <project-widget
    title="Sympliact"
    description="Sharing ownership of better care management experiences."
    projectRouteName="sympliact"
  >
    <img
      width="75"
      height="75"
      logo
      src="assets/images/sympliact-logo-white.svg"
    />
  </project-widget>

  <project-widget
    title="Hexa"
    description="Industry leader in spill containment, absorbents, spill kits, and aerial lift protection for tires and drips."
    projectRouteName="hexa"
  >
    <img width="75" height="75" logo src="assets/images/hexa.svg" />
  </project-widget>
  <project-widget
    title="SiriusXM"
    description="The leading audio entertainment company in the U.S., and the premier programmer and platform for subscription and digital advertising-supported audio products."
    projectRouteName="sxm"
  >
    <img logo src="assets/images/sxm.svg" />
  </project-widget>
  <project-widget
    title="Airvel"
    description="Airvel is the nation's largest online private air charter marketplace."
    projectRouteName="airvel"
  >
    <img width="75" height="75" logo src="assets/images/airvel-logo.png" />
  </project-widget>

  <project-widget
    title="Wayspring"
    description="Wayspring is a value-based healthcare organization that provides services to people with substance-use disorder."
    projectRouteName="wayspring"
  >
    <img width="75" height="75" logo src="assets/images/wayspring-logo.jpg" />
  </project-widget>
  <project-widget
    title="Metova"
    description="Metova is a mobile software and user experience agency building products, services, and custom experiences for global brands."
    projectRouteName="metova"
  >
    <img width="75" height="75" logo src="assets/images/metova-logo.jpg" />
  </project-widget>
  <project-widget
    title="Otus"
    description="Otus is an educational technology company that provides a comprehensive student performance platform for K-12 education."
    projectRouteName="otus"
  >
    <img width="100" height="50" logo src="assets/images/otus.png" />
  </project-widget>
</div>
