<toolbar title="Projects"></toolbar>
<div class="projects">
  <project-widget
    title="Sympliact"
    description="A simple project management tool"
    projectRouteName="sympliact"
  >
    <img
      width="75"
      height="75"
      logo
      src="assets/images/sympliact-logo-white.svg"
    />
  </project-widget>

  <project-widget
    title="Hexa"
    description="A simple project management tool"
    projectRouteName="hexa"
  >
    <img width="75" height="75" logo src="assets/images/hexa.svg" />
  </project-widget>
  <project-widget
    title="SiriusXM"
    description="A simple project management tool"
    projectRouteName="sxm"
  >
    <img logo src="assets/images/sxm.svg" />
  </project-widget>
  <project-widget
    title="Airvel"
    description="A simple project management tool"
    projectRouteName="airvel"
  >
    <img width="75" height="75" logo src="assets/images/airvel-logo.png" />
  </project-widget>

  <project-widget
    title="WaySpring"
    description="A simple project management tool"
    projectRouteName="wayspring"
  >
    <img width="75" height="75" logo src="assets/images/wayspring-logo.jpg" />
  </project-widget>
  <project-widget
    title="Metova"
    description="A simple project management tool"
    projectRouteName="metova"
  >
    <img width="75" height="75" logo src="assets/images/metova-logo.jpg" />
  </project-widget>
</div>
