$primary-blue: #2196f3;
$green: #01bf73;
$primary-dark-background: #0b0c10;
$primary-home-background: #0f1014;
$white: #fff;
$muted-text: #565674;
$link-color: #3e97ff;
$link-hover-color: #65acff;
$light-inverse: #78829d;
$light: #2b2b40;
$sidebar-base-color: #0b0c10;
$border-color: #2b2b40;
$warn: #ea3241;
$card-background: #15171c;
$text-gray-100: #1b1b29;
$text-gray-200: #2b2b40;
$text-gray-300: #323248;
$text-gray-400: #474761;
$text-gray-500: #565674;
$text-gray-600: #6d6d80;
$text-gray-700: #92929f;
$text-gray-800: #cdcdde;
$text-gray-900: #ffffff;
$sidebar-width: 250px;

$inter: "Inter";
$inter-medium: "Inter Medium";
$inter-light: "Inter Light";
$inter-bold: "Inter Bold";
$inter-semibold: "Inter SemiBold";
