<toolbar title="About"></toolbar>
<div class="main-container">
  <div class="summary">
    <div class="summary__avatar">
      <p>CB</p>
    </div>
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Camden Brown</p>
      <div class="summary__details__contacts">
        <div class="summary__details__contacts__contact">
          <a target="_blank" href="https://github.com/camden-brown">
            <img src="../../../assets/images/github.svg" />
          </a>
        </div>
        <div class="summary__details__contacts__contact">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/camden-brown-b6287384/"
          >
            <img src="../../../assets/images/LinkedIn_icon.svg" />
          </a>
        </div>
        <div class="summary__details__contacts__contact">
          <a href="mailto:camdenebrown@gmail.com">
            <mat-icon color="primary">mail</mat-icon>
          </a>
        </div>
      </div>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Software Engineer</p>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">location_on</mat-icon>
          <p>Cookeville, TN</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <h3>Technologies</h3>
      <div class="card__content"></div>
    </div>

    <div class="card">
      <h3>Hobbies</h3>
      <div class="card__content"></div>
    </div>
  </div>
</div>
