<toolbar title="About"></toolbar>
<div class="main-container">
  <div class="summary">
    <div class="summary__avatar">
      <p>CB</p>
    </div>
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Camden Brown</p>
      <div class="summary__details__contacts">
        <div class="summary__details__contacts__contact">
          <a target="_blank" href="https://github.com/camden-brown">
            <img src="../../../assets/images/github.svg" />
          </a>
        </div>
        <div class="summary__details__contacts__contact">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/camden-brown-b6287384/"
          >
            <img src="../../../assets/images/LinkedIn_icon.svg" />
          </a>
        </div>
        <div class="summary__details__contacts__contact">
          <a href="mailto:camdenebrown@gmail.com">
            <mat-icon color="primary">mail</mat-icon>
          </a>
        </div>
      </div>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Software Engineer</p>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">location_on</mat-icon>
          <p>Cookeville, TN</p>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">school</mat-icon>
          <p>Tennessee Technological University: Bachelors of Business</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        I am a self-taught programmer who enjoys striving to balance delivers
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <p class="fwt-600">Technologies</p>
      <div class="card__content">
        <div class="card__content__legend">
          <p class="advanced">Advanced</p>
          <p class="intermediate">Intermediate</p>
          <p class="novice">Novice</p>
        </div>
        <ul>
          <li class="advanced">Angular</li>
          <li class="advanced">Typescript</li>
          <li class="advanced">Javascript</li>
          <li class="advanced">Figma</li>
          <li class="advanced">HTML/CSS/SASS</li>
          <li class="advanced">Git</li>
          <li class="advanced">GraphQL/REST</li>
          <li class="advanced">RxJs</li>
          <li class="advanced">NgRx</li>
          <li class="advanced">CI/CD Practices</li>
          <li class="advanced">Cypress/Jest/Testing</li>
          <li class="advanced">Ruby</li>
          <li class="advanced">Authentication/Auth0</li>
          <li class="advanced">Relational Databases</li>
          <li class="advanced">Ruby on Rails</li>
          <li class="advanced">Angular Material</li>
          <li class="advanced">Progressive Web Apps</li>
          <li class="intermediate">Express/NestJs/Node</li>
          <li class="intermediate">AWS/GCP</li>
          <li class="intermediate">
            Microservices/Distributed Systems Architecture
          </li>
          <li class="novice">Go</li>
          <li class="novice">Docker/Kubernetes</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <p class="fwt-600">Hobbies</p>
      <div class="card__content">
        <ul>
          <li>Travel</li>
          <li>Video Games</li>
          <li>Reading</li>
          <li>Outdoors/Hiking/Camping</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <p class="fwt-600">People I Follow</p>
      <div class="card__content">
        <ul>
          <li>
            <a target="_blank" href="https://github.com/toddmotto">
              Todd Motto
            </a>
          </li>
          <li>
            <a target="_blank" href="https://martinfowler.com/">
              Martin Fowler
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.twitch.tv/theprimeagen">
              ThePrimeagen
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/@Fireship">
              Fireship
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.udemy.com/user/maximilian-schwarzmuller/"
            >
              Maximilian Schwarzmüller
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <p class="fwt-600">Books</p>
      <div class="card__content">
        <div class="card__content__legend">
          <i>Read</i>
        </div>
        <ul>
          <li>Red Rising</li>
          <li>
            <i>How To Win Friends and Influence People</i>
          </li>
          <li>
            <i>The Goal</i>
          </li>
          <li>
            <i> The Phoenix Project </i>
          </li>
          <li>
            <i> The Lean Startup </i>
          </li>
          <li>
            <i> Extreme Programming </i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
