<toolbar title="Otus"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      class="summary__logo square"
      width="175"
      height="175"
      src="assets/images/otus.png"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Otus</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Senior Full-Stack Engineer</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        Otus is an educational technology company that provides a comprehensive
        student performance platform for K-12 education. It offers a range of
        tools including a learning management system, data warehouse, and
        classroom management tools to support students, teachers, parents, and
        administrators. The platform is designed to facilitate various
        educational processes, like attendance tracking, assignments, and
        analytics integration, enhancing teaching and learning experiences.
      </div>
    </div>
  </div>
</div>
