<toolbar title="Metova"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      class="summary__logo square"
      width="175"
      height="175"
      src="assets/images/metova-logo.jpg"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Metova</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Full-Stack Engineer</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        Metova is a technology company specializing in mobile and web
        application development, offering tailored solutions for businesses and
        government entities. Renowned for its expertise in creating
        user-friendly, cutting-edge apps, Metova works closely with clients to
        understand their needs and deliver high-quality digital products. Their
        services extend to emerging technologies such as IoT (Internet of
        Things), cybersecurity, and cloud-based solutions, positioning them at
        the forefront of digital transformation. Metova's commitment to
        innovation and customer satisfaction has made them a go-to partner for
        organizations seeking to enhance their digital presence and operational
        efficiency.
      </div>
    </div>
  </div>
</div>
