<toolbar title="Airvel"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      class="summary__logo square"
      width="175"
      height="175"
      src="assets/images/airvel-logo.png"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Airvel</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Lead Full-Stack Engineer</p>
        </div>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Core Technologies:</p>
        <p>Angular, Typescript, Express/Node.js, GraphQL</p>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Tools/Libraries/etc:</p>
        <p>
          RxJs, Jest, Material, Google Cloud Platform, Apollo, Microservices,
          Figma
        </p>
      </div>
      <div class="summary__details__description fwt-600">
        Airvel is a leading online platform in the private aviation industry,
        known for being the world's first true multi-sided booking engine for
        private jet charters. It connects aircraft management companies and air
        charter operators directly with customers, providing a seamless and
        efficient process for booking private flights. Airvel's system allows
        customers to easily search, compare, and book flights from a vast
        selection of over 4,000 pre-vetted private aircraft, streamlining the
        traditional process of chartering a private jet.
      </div>
      <div class="summary__details__achievements">
        <h4>Achievements & Highlights</h4>
        <ul>
          <li>
            Created both a consumer marketplace for private charter flights and
            trip management portal for private charter suppliers using Express
            and Angular
          </li>
          <li>
            Worked with both frontend and backend developers to architect
            distributed GraphQL services using Apollo Federation
          </li>
          <li>
            Implemented Stripe to facilitate transactions that were between
            $10,000 - $100,000
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
