<toolbar title="Airvel"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      class="summary__logo square"
      width="175"
      height="175"
      src="assets/images/airvel-logo.png"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Airvel</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Lead Full-Stack Engineer</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        Airvel is a leading online platform in the private aviation industry,
        known for being the world's first true multi-sided booking engine for
        private jet charters. It connects aircraft management companies and air
        charter operators directly with customers, providing a seamless and
        efficient process for booking private flights. Airvel's system allows
        customers to easily search, compare, and book flights from a vast
        selection of over 4,000 pre-vetted private aircraft, streamlining the
        traditional process of chartering a private jet.
      </div>
    </div>
  </div>
</div>
