<toolbar title="Wayspring"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      class="summary__logo square"
      width="175"
      height="175"
      src="assets/images/wayspring-logo.jpg"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Wayspring</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Senior Frontend Engineer</p>
        </div>
      </div>
      <div class="summary__details__description fwt-600">
        Wayspring, based in Nashville, TN, is a healthcare company focused on
        substance use disorder (SUD), offering innovative data-driven solutions
        for behavioral health and opioid use. It provides high-touch,
        community-based support, including peer support, addiction treatment,
        behavioral health, and primary care services. The company emphasizes
        evidence-based medicine and care coordination, working with health
        insurance plans and provider networks to enhance treatment outcomes and
        improve wellness.
      </div>
    </div>
  </div>
</div>
