<toolbar title="Sympliact"></toolbar>
<div class="main-container">
  <div class="summary">
    <img width="75" height="75" src="assets/images/sympliact-logo-white.svg" />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Sympliact</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Lead Software Engineer</p>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">open_in_new</mat-icon>
          <a target="_blank" href="https://patient.sympliact.com/auth/login">
            Patient App
          </a>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">open_in_new</mat-icon>
          <a target="_blank" href="https://portal.sympliact.com/auth/login">
            Practice App
          </a>
        </div>
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">open_in_new</mat-icon>
          <a target="_blank" href="https://www.sympliact.com/">
            Marketing Site
          </a>
        </div>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Core Technologies:</p>
        <p>Angular, Typescript, Rails, GraphQL</p>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Tools/Libraries/etc:</p>
        <p>
          NgRx, RxJs, Cypress, Jest, Google Cloud Platform, Auth0, Sentry,
          Figma, Material, Progressive Web Apps
        </p>
      </div>
      <div class="summary__details__description fwt-600">
        Sympliact is a dynamic care management platform designed to enhance the
        experience of healthcare delivery. It facilitates real-time
        collaboration and connection between healthcare providers and patients.
        The platform aims to reduce time spent on low-value tasks and emphasizes
        efficient, high-value, personalized human care interactions. Sympliact
        is HIPAA-compliant and prioritizes the privacy and security of patient
        data. It offers a free tier with basic functionalities and a paid tier
        for additional features, making it accessible for diverse healthcare
        teams​
      </div>

      <div class="summary__details__achievements">
        <h4>Achievements & Highlights</h4>
        <ul>
          <li>
            Architected and implemented features in two large-scale PWA Angular
            applications for patients and healthcare providers
          </li>
          <li>
            Successfully onboarded 30-50 patients a day and 1-2 new healthcare
            practices a week through automated tiered sign up flows
          </li>
          <li>
            Developed robust CI/CD flows that require at least 70% unit test
            coverage and run automated Cypress tests to help prevent regressions
            from ever reaching production
          </li>
          <li>
            Design wireframes in Figma, write fine-grained user stories, use
            story points to plan out roadmap projections, and ensure HIPAA
            compliance is met with all our 3rd party services
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
