<div class="container">
  <h2>{{ title }}</h2>

  <ul class="breadcrumbs">
    <li>
      <a [routerLink]="['/home']">
        <mat-icon color="primary">home</mat-icon>
      </a>
    </li>
    <li
      [ngClass]="{
        'text-gray-700': i !== segments().length - 1,
        'text-gray-500': i == segments().length - 1
      }"
      class="fwt-600 breadcrumb"
      *ngFor="let segment of segments(); let i = index"
    >
      @if (i !== segments().length - 1) {
      <a [routerLink]="segments().slice(0, i + 1)">
        {{ segment | titlecase }}
      </a>
      } @else {
      {{ segment | titlecase }}
      }
      <mat-icon class="text-gray-700" *ngIf="i != segments().length - 1">
        chevron_right
      </mat-icon>
    </li>
  </ul>
</div>
