@use "../../../../../sass/variables.scss";

.widget {
  background-color: variables.$card-background;
  padding: 1rem;
  border: 1px solid variables.$border-color;
  min-width: 200px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
}
