@use "../../../../../sass/variables.scss";

.widget {
  background-color: variables.$card-background;
  padding: 1rem;
  border: 1px solid variables.$border-color;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
}
