<toolbar title="Hexa"></toolbar>
<div class="main-container">
  <div class="summary">
    <img
      width="175"
      height="175"
      class="summary__logo"
      src="assets/images/hexa.svg"
    />
    <div class="summary__details">
      <p class="summary__details__name fwt-600">Hexa</p>
      <div class="summary__details__badges">
        <div class="summary__details__badges__badge fwt-500">
          <mat-icon color="primary">badge</mat-icon>
          <p>Lead Full-Stack Engineer</p>
        </div>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Core Technologies:</p>
        <p>Angular, Typescript, Rails</p>
      </div>
      <div class="summary__details__technologies fwt-600">
        <p>Tools/Libraries/etc:</p>
        <p>NgRx, RxJs, AWS, Auth0, Sentry, Figma, Material</p>
      </div>
      <div class="summary__details__description fwt-600">
        Hexa Containment is a leading company in the industry, specializing in
        American-made spill containment, spill recovery, surface protection, and
        facility & safety products. Founded to provide robust solutions
        engineered for extreme conditions, the company manufactures its products
        at its headquarters in Houston, Texas. Hexa Containment serves a wide
        range of needs with a comprehensive product line and offers customized
        solutions for unique requirements, including support for various harsh
        chemicals and environments. The company emphasizes customer support,
        offering round-the-clock service to ensure effective and immediate
        assistance
      </div>
      <div class="summary__details__achievements">
        <h4>Achievements & Highlights</h4>
        <ul>
          <li>
            Implement features using Ruby on Rails that help improve
            efficiencies inside Hexa
          </li>
          <li>
            Lead, design, and architect a customer portal using Ruby on Rails
            and Angular to streamline customer purchases
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
