@use "../../sass/variables.scss";

mat-sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  .contact-me-button {
    background-color: variables.$green;
    font-size: 0.8rem;
  }
}

ul {
  margin: 2rem 0;
  overflow: auto;

  li {
    margin: 1rem 0;

    a {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      color: #dbdfe9;

      &:hover,
      &:focus {
        color: variables.$white;

        mat-icon {
          color: variables.$white;
        }
      }

      mat-icon {
        color: #4b5675;
      }
    }
  }
}

.sidenav {
  background-color: variables.$sidebar-base-color;
  width: variables.$sidebar-width;
  padding: 1rem;
}

.home {
  background-color: variables.$primary-home-background;
  flex: 1;
}
